<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-12 order-2 order-lg-1">
			<p class="lead text-center mt-3">Campgrounds</p>
			<div class="list-group">
				<% allCampgrounds.forEach(function(eachCampground){ %>
					<% if("/campgrounds/" + eachCampground._id === currentUrl) { %>
						<li class="list-group-item"><a class="btn btn-list-active" href="/campgrounds/<%= eachCampground._id %>"><%= eachCampground.name %></a></li>
					<% } else { %>
						<li class="list-group-item"><a class="btn btn-list" href="/campgrounds/<%= eachCampground._id %>"><%= eachCampground.name %></a></li>
					<% } %>
				<% }); %>
				<li class="list-group-item"><a class="btn btn-list-3" href="/campgrounds/new">Add New</a></li>
			</div>
		</div>
		<div class="col-lg-9 col-md-12 order-1 order-lg-2 mt-3">
			<div class="thumbnail">
				<img class="img-responsive img-render" src="<%= campground.image %>">
				<div class="caption-full">
					<div class="d-flex justify-content-between">
						<h4 class="show-header"><%= campground.name %></h4>
						<h4 class="pull-right">$<%= campground.price %>/night</h4>
					</div>
					<p><%= campground.description %></p>
					<div class="d-flex justify-content-start">
						<p id="submitted-by">
							<em>Submitted By: <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em>
						</p>
					<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
						<a class="btn btn-xs btn-warning ml-2" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
						<form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-danger ml-2">
								Delete
							</button>
						</form>
					<% } %>
					</div>
				</div>
			</div>
			<div id="map"></div>
			<div class="well mb-0">
				<div class="text-right">
					<a class="btn btn-list-3" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
				</div>
				<% campground.comments.forEach(function(comment){ %>
					<div class="row">
						<div class="col-md-12">
							<div class="d-flex justify-content-center pt-2">
								<strong><%= comment.author.username %> __ </strong>
								<span class="pull-right-2"><%= moment(comment.createdAt).fromNow() %></span>
							</div>
							<div id="comment-text">
								<p><strong><%= comment.text %></strong></p>
							</div>
							
						<% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
								<a class="btn btn-xs btn-warning mt-0 mb-2" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
								Edit
								</a>
								<form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
									<button class="btn btn-xs btn-danger mt-0 mb-2">
										Delete
									</button>
								</form>
						<% } %>
						</div>
					</div>
				<%	}) %>
			</div>
		</div>
	</div>
</div>

<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7O25M5AIsEjdHJXHCTsuQDudOSa0OnQI&callback=initMap"></script>

<% include ../partials/footer %>